* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/back.jpg) repeat;
    color: #ffffff;
}

#container {
    width: 50%;
    float: left;
    margin-left: 26%;
}

h2 {
    padding: 10px 0;
    margin: 10px 0;
}

p {
    float: left;
    margin-bottom: 10px;
}

#referencia {
    float: left;
}
a {
    color: #ffffff;
}
a:hover {
    color: #ffffff;
}